APP_NAME="Sistema Consumo"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=es

LOG_CHANNEL=stack

DB_CONNECTION=sqlite
# Para MySQL descomenta y ajusta:
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=sistema_consumo
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

# Tarifa por kWh (MXN)
ENERGY_RATE=2.85
